body{

    background-color:  #E9DDC8;
    font-family: Oswald;

}

  .h2_title_restaurant {
    color: #D94730;
    font-size: 25px;
    display: flex;
    align-items: center;
   
    
}

.global_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.pres_restaurant {
    width: 350px;
    height: 250px;
    border: solid black 1px;
    
}


.pres_restaurant img {

    width: 100%;
    height: 100%;
}




.group_desc_texte_restaurant {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 45px;
    margin-right: 10px;
    margin-left: 10px;
}




.desc_restaurant {

    border: 1px black solid;
    display: flex;
    justify-content: flex-end;
    color: #515050;
    height: 300px;
    width: 150px;
    
}


.desc_restaurant img {
    
    min-width: 100%;
}





.text_restaurant {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.00em;
    text-align: left;
    width: 50%;
    padding-right: 25px;
    

    
   
}

.text_restaurant p {
    margin-top: 0px;
    margin-bottom: 0px;
}
